<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apple</servlet-name>
        <servlet-class>apple</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apple1</servlet-name>
        <servlet-class>apple1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>app3</servlet-name>
        <servlet-class>app3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apple2</servlet-name>
        <servlet-class>apple2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apple3</servlet-name>
        <servlet-class>apple3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apple</servlet-name>
        <url-pattern>/apple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apple1</servlet-name>
        <url-pattern>/apple1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>app3</servlet-name>
        <url-pattern>/app3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apple2</servlet-name>
        <url-pattern>/apple2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apple3</servlet-name>
        <url-pattern>/apple3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
